formatting:
  NoWildcardImports:
    active: false

naming:
  FunctionNaming:
    ignoreAnnotated: ['Composable']

style:
  WildcardImport:
    active: false

complexity:
  LongParameterList:
    ignoreAnnotated: ['Composable']
